@font-face {
  font-family: 'Vi';
  src: url('fonts/Vi.ttf?seyac4') format('truetype'), url('fonts/Vi.woff?seyac4') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.vi {
  speak: never;
  opacity: inherit;
  font-family: 'Vi' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Don't delete */
.vi--disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: grayscale(1) opacity(0.4);
}

.icon-sm {
  font-size: 0.75rem !important;
}

.icon-1x {
  font-size: 1rem !important;
}

.icon-lg {
  font-size: 1.5rem !important;
}

.icon-2x {
  font-size: 2rem !important;
}

.icon-3x {
  font-size: 2.5rem !important;
}

.icon-big-logo {
  font-size: 174px !important;
}

/* Icons */
.vi-add-circle:before {
  content: '\e900';
}
.vi-angle-left:before {
  content: '\e904';
}
.vi-angle-right:before {
  content: '\e905';
}
.vi-angle-up:before {
  content: '\e906';
}
.vi-angle-down:before {
  content: '\e907';
}
.vi-arrow-left:before {
  content: '\e933';
}
.vi-close:before {
  content: '\e92b';
}
.vi-backspace:before {
  content: '\e92f';
}
.vi-link:before {
  content: '\e93d';
}
.vi-email:before {
  content: '\e947';
}
.vi-attachment:before {
  content: '\e93e';
}
.vi-checkmark:before {
  content: '\e912';
}
.vi-done:before {
  content: '\e90c';
}
.vi-info:before {
  content: '\e90d';
}
.vi-question:before {
  content: '\e90e';
}
.vi-warning:before {
  content: '\e90f';
}
.vi-error:before {
  content: '\e910';
}
.vi-send:before {
  content: '\e914';
}
.vi-clock:before {
  content: '\e924';
}
.vi-star:before {
  content: '\e915';
}
.vi-star-half:before {
  content: '\e923';
}
.vi-star-empty:before {
  content: '\e979';
}
.vi-heart:before {
  content: '\e97c';
}
.vi-heart-empty:before {
  content: '\e97d';
}
.vi-moon:before {
  content: '\e97e';
}
.vi-pen:before {
  content: '\e940';
}
.vi-filter:before {
  content: '\e942';
}
.vi-copy:before {
  content: '\e943';
}
.vi-paste:before {
  content: '\e944';
}
.vi-trash:before {
  content: '\e945';
}
.vi-phone:before {
  content: '\e946';
}
.vi-push-notifications:before {
  content: '\e94a';
}
.vi-map:before {
  content: '\e94d';
}
.vi-location:before {
  content: '\e94e';
}
.vi-location-off:before {
  content: '\e94f';
}
.vi-search:before {
  content: '\e952';
}
.vi-file:before {
  content: '\e967';
}
.vi-file-contract:before {
  content: '\e969';
}
.vi-files:before {
  content: '\e96a';
}
.vi-documents:before {
  content: '\e954';
}
.vi-popup:before {
  content: '\e959';
}
.vi-person:before {
  content: '\e97a';
}
.vi-key:before {
  content: '\e925';
}
.vi-calendar:before {
  content: '\e96c';
}
.vi-shield:before {
  content: '\e95b';
}
.vi-scroll:before {
  content: '\e95d';
}
.vi-certificate-document:before {
  content: '\e95e';
}
.vi-certificate:before {
  content: '\e95f';
}
.vi-graduation:before {
  content: '\e961';
}
.vi-support:before {
  content: '\e962';
}
.vi-logout:before {
  content: '\e963';
}
.vi-qrcode:before {
  content: '\e916';
}
.vi-store:before {
  content: '\e97b';
}
.vi-subway:before {
  content: '\e975';
}
.vi-telegram:before {
  content: '\e920';
}
.vi-whatsapp:before {
  content: '\e91f';
}
.vi-vk:before {
  content: '\e922';
}
.vi-odnoklassniki:before {
  content: '\e921';
}
.vi-verme:before {
  content: '\e92a';
}
.vi-play:before {
  content: '\e901';
}
.vi-pause:before {
  content: '\e902';
}
